@import './fonts.css';

:root {
    --theme-color: #FD5806;
    --secondary-color: #B33A5C;
    --white: #ffffff;
    --black: #000000;
}

/*::-webkit-scrollbar-track {*/
/*    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
/*    background-color: #F5F5F5;*/
/*    border-radius: 10px;*/
/*}*/

::-webkit-scrollbar {
    width: 5px;
    height: 2px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--theme-color);
}

html {
    font-size: 16px;
    scroll-behavior: initial !important;
    overscroll-behavior: none !important;
}

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: clip;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

body {
    position: relative;
    font-family: 'Stretch Pro', sans-serif;
    background: var(--black);
    box-sizing: border-box;
    overflow-x: clip;
}

p {
    font-size: 1.125rem;
    font-family: 'Stretch Pro', sans-serif;
    color: #8e8e8e;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Morganite Bold', sans-serif;
    color: var(--black);
}

.img-auto {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

a,
button {
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover,
button:hover {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

figure {
    margin: 0;
}

@media screen and (min-width: 1500px) {
    .container {
        max-width: 1440px;
    }
}

/*buttons*/

.themeBtn {
    --c: var(--secondary-color);
    background-color: var(--yellow-color);
    height: 46px;
    border-radius: 34px;
    display: inline-flex;
    font-size: 1rem;
    align-items: center;
    line-height: 0;
    justify-content: center;
    font-weight: 600;
    position: relative;
    overflow: clip;
    z-index: 1;
    padding: 0 1.5rem;
    transition: 0.5s;
    text-align: center;
    color: var(--black);
    border: none;
    outline: none;
}

.themeBtn span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
    transition-duration: 0.4s;
}

.themeBtn:hover span {
    transform: translateY(0) scale(2);
}

.themeBtn:hover {
    color: var(--white) !important;
    background: transparent;
}

.themeBtn span:nth-child(1) {
    --n: 1;
}

.themeBtn span:nth-child(2) {
    --n: 2;
}

.themeBtn span:nth-child(3) {
    --n: 3;
}

.themeBtn span:nth-child(4) {
    --n: 4;
}

section {
    position: relative;
    padding: 5rem 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row [class*="col-"] {
    position: relative;
}

.secHeading {
    line-height: 1.2;
    font-size: 8rem;
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.subHeading {
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 1.2;
    color: var(--theme-color);
    margin: 0;
}

.preloaderCont {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11111;
}

.preloaderCont .preloaderBg {
    position: absolute;
    inset: 0;
    background: var(--black);
}

.preloaderCont .preloaderImg {
    position: relative;
    overflow: clip;
}

.preloaderCont .preloaderImg .preloaderMask {
    position: absolute;
    inset: 0;
    backdrop-filter: grayscale(1);
}

.preloaderCont .preloaderImg .logoIcon {
    position: absolute;
    top: -4px;
    left: 53.8%;
    transform: translateX(-53.5%);
    z-index: 1;
}

header {
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 11111;
}

.mainSec {
    padding: 0;
    height: 100vh;
    overflow: clip;
    width: 100%;
}

.mainSec .bgImg, .mainSec .frontImg {
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: self-start;
    justify-content: center;
}

.mainSec .bgImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

header .navbar-nav .nav-item .nav-link {
    font-family: 'Gotham', sans-serif;
    color: var(--white);
    padding: 0;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

header nav.navbar {
    padding: 0;
}

header .navbar-brand {
    padding: 0;
    margin: 0;
    width: 250px;
    height: 100px;
}

header .navbar-brand img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header .navbar-nav {
    gap: 4rem;
}

header .container {
    max-width: 100%;
}

.mainSec .content {
    position: absolute;
    z-index: 11;
    top: calc(80px + 290px);
    left: 20vw;
}

.mainSec h1 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 25rem;
    line-height: 0.71;
    margin: 0;
    position: relative;
    z-index: 11;
    letter-spacing: 10px;
}

.mainSec .frontImg {
    z-index: 1;
}

.mainSec h1 .word {
    overflow: clip;
}

.mainSec .frontImg h1 {
    position: absolute;
    z-index: -1;
    top: 80px;
    left: 20vw;
}

.mainSec h1 .word .char {
    transform: scaleX(0);
}

.mainSec .frontImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
    object-position: top;
}

.mainSec .bgImg::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, black, transparent, black);
}

header .navbar-nav .nav-item .nav-link span {
    color: var(--theme-color);
    position: absolute;
    transform: translateY(100%);
}

header .navbar-nav .nav-item .nav-link span.mainText {
    position: static;
    color: var(--white);
    transform: translate(0);
}

.pageWrapper {
    position: fixed;
    inset: 0;
    transform: translateY(100%);
    transition: all 1s ease-in-out;
}

.pageWrapper.active {
    transform: translateY(0);
}

.wrapper:has(.pageWrapper.class.active) {
}

.mainSec.class img {
    object-fit: cover;
}

.coaching .mainSec .content,
.class .mainSec .content {
    inset: 0;
    top: auto;
    bottom: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
}

.coaching .mainSec .content h1,
.class .mainSec .content h1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 18.75rem;
}

.coaching .mainSec .bgImg img,
.class .mainSec .bgImg img {
    object-fit: cover;
}

.classCard,
.trainingCard {
    width: 100%;
    overflow: clip;
    height: 400px;
    position: relative;
    display: block;
}

.trainingCard {
    height: 585px;
}

.classCard .cardImg img,
.trainingCard .cardImg img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: all 0.3s ease;
}

.classCard .cardImg,
.trainingCard .cardImg {
    height: 100%;
}

.classCard .content,
.trainingCard .content {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.classCard .content h3,
.trainingCard .content h3 {
    color: var(--white);
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    font-family: 'Stretch Pro', sans-serif;
    text-align: center;
}

.trainingCard .content {
    flex-direction: column;
}

.trainingCard .content h4 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Morganite Black', serif;
    letter-spacing: 2px;
}

.classCard::before,
.trainingCard::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent 40%, rgb(253 88 6 / 70%), var(--secondary-color));
    height: 100%;
    z-index: 1;
    transition: all 0.3s ease;
}

.classCard:hover::before,
.trainingCard:hover::before {
    transform: translateY(100%);
}

.classesSec .row, .trainerSec .row {
    gap: 2rem 0;
}

.classCard:hover .cardImg img,
.trainingCard:hover .cardImg img {
    transform: scale(1.25);
}

.coaching .mainSec .content h1 span {
    color: #A8A8A8;
}

.coaching .mainSec .content h1 span:nth-child(n+3) {
    color: var(--white);
}

.coaching .mainSec .content {
    align-items: end;
}

.horizontalCont {
    display: flex;
}

.horizontalCont > * {
    width: 100%;
}

.badgeBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    left: 15px;
    writing-mode: tb;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    color: var(--black);
    z-index: 1111;
'Gotham', font-family: sans-serif;
    text-transform: uppercase;
    background: linear-gradient(to top, var(--theme-color), var(--theme-color));
    max-width: 70px;
    width: 100%;
    overflow: clip;
}

.badgeBtn::before {
    content: '';
    position: absolute;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background: var(--black);
    border-radius: 100%;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.badgeBtn:hover::before {
    height: 100%;
    width: 100%;
    bottom: 0;
    border-radius: 40px;
    border-color: var(--theme-color);
}

.badgeBtn span {
    position: relative;
    z-index: 1;
}

.badgeBtn:hover {
    color: var(--white);
}

.plans .mainSec .content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plans .mainSec .content h1 {
    color: var(--theme-color);
    font-size: 56rem;
    font-family: 'Morganite Extra Bold', sans-serif;
    opacity: 0.5;
}

.plans .mainSec .bgImg::before {
    background: rgba(0, 0, 0, 0.5);
}

.plans .mainSec .bgImg img {
    object-fit: cover;
}

.join .mainSec h1 {
    font-size: 8.75rem;
    text-align: center;
    line-height: 1.2;
    width: 65%;
    color: var(--theme-color);
    letter-spacing: 0;
}

.join .mainSec .content {
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    transform: none;
}

.join .mainSec .bgImg::before {
    background: linear-gradient(to right, black, #0005, black);
}

.plansSec,
.joinNowSec {
    background-image: url("../images/planBg.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.plansSec .planCard {
    height: 650px;
    border: 3px solid var(--theme-color);
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plansSec .planCard.middle {
    background: linear-gradient(to bottom, var(--theme-color), var(--theme-color));
}

.plansSec .planCard.last {
    background: linear-gradient(to bottom, var(--theme-color), var(--theme-color), var(--secondary-color));
}

.plansSec .planCard .content h3 {
    font-size: 8rem;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Morganite Black', serif;
}

.plansSec .planCard.first .content h3 {
    color: var(--white);
}

.mainSec .bottomImg {
    position: absolute;
    bottom: -110px;
}

.inputCont input, .inputCont textarea {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid var(--white);
    font-family: 'Gotham', sans-serif;
    color: var(--white);
    font-size: 1.25rem;
    outline: none;
    min-height: 60px;
}

.inputCont input::placeholder, .inputCont textarea::placeholder {
    color: var(--white);
}

.joinNowSec form .row {
    gap: 2rem 0;
}

.joinNowSec form .submitBtn {
    background: linear-gradient(45deg, var(--theme-color), var(--theme-color));
    border: 1px solid var(--white);
    font-family: 'Gotham', sans-serif;
    color: var(--white);
    text-transform: capitalize;
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
    margin: 1.5rem auto 0;
    display: block;
    background-size: 100% 0;
    background-repeat: no-repeat;
    background-position: top right;
    transition: all 0.3s ease;
}

.joinNowSec form .submitBtn:hover {
    background-size: 100% 100%;
}

.joinNowSec {
    flex-direction: column;
    align-items: unset;
    background: #000;
}

footer {
    margin-top: 5rem;
}

footer .logo img {
    width: 250px;
    margin: auto;
    display: block;
}

footer .socialList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0 0;
}

footer .socialList a svg {
    width: 30px;
    height: 30px;
}

footer h3 {
    color: var(--white);
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Gotham', sans-serif;
    font-weight: 600;
    margin: 0 0 1rem;
}

footer .list li a {
    color: var(--white);
    font-family: 'Gotham', sans-serif;
    font-size: 1.5rem;
}

footer .list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer .list li a:hover {
    color: var(--theme-color);
}

footer ul li {
    color: var(--white);
    font-family: 'Gotham', sans-serif;
    font-size: 1.125rem;
}

footer ul:not(.list) li + li {
    margin: 0.5rem 0 0;
}

footer ul li span {
    font-weight: 600;
}

.mainSec .content.mobile {
    display: none;
}